<br>
<div class="row">
    <div class="col-sm-12 grid-center"
        style="display: flex; justify-content:space-between; flex-direction:column;align-items: center;">
        <form action="/category/edit/updatePost" method="post">
            <h1 style="margin-left: 60px;">CHỈNH SỬA NỘI DUNG</h1>
            <HR>
            <textarea name="title" class="font-weight-600 mb-2" cols="50" rows="3"
                placeholder="title">{{post.[0].title}}</textarea>
            <br>
            <textarea name="path" class="font-weight-600 mb-20" cols="50" rows="3"
                placeholder="image path">{{post.[0].path}}</textarea>
            <br>
            <textarea name="contentText" class="font-weight-600 mb-20" cols="50" rows="3"
                placeholder="small content">{{post.[0].content}}</textarea>
            <br>
            <textarea name="contentTextFull" class="font-weight-600 mb-20" placeholder="contentFull" cols="50"
                rows="10">{{post.[0].contentFull}}</textarea>
            <br>

            <select name="cateID">
                <option value="1">THỜI TIẾT</option>
                <option value="2">QUỐC TẾ</option>
                <option value="3">THỂ THAO</option>
                <option value="4">THỜI SỰ</option>
            </select>
            <hr>
            <div style="display: flex; justify-content:space-evenly">
                <button type="submit" name="updatePost" value="{{post.[0].id}}"
                    style="border-radius: 10px; padding: 5px; font-weight:500; width:100px">CẬP NHẬT</button>
                <button type="submit" name="delPost" value="{{post.[0].id}}"
                    style="border-radius: 10px; padding: 5px; font-weight:500; width:100px">XÓA</button>
            </div>
        </form>
    </div>
</div>
<br>